<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "icon.png" %>
        <span class="navbar-brand-text">Apex Estate Sales</span>
      <% end %>
      <% if user_signed_in? && current_user.role == "manager" %>
        <div class="navbar-brand-text"> | Manager View</div>
      <% end %>
      <% if user_signed_in? && current_user.role == "admin" %>
        <div class="navbar-brand-text"> | Admin View</div>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active mx-3">
            <%= link_to "Upcoming Sales", houses_path, class: "nav-link" %>
          </li>
          <li class="nav-item active mx-3">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active mx-3">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <% if current_user.role != "customer" %>
            <li class="nav-item active mx-3">
              <%= link_to "Consultations", manager_consultations_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown d-flex align-items-center">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: inherit; text-decoration: none;">
            <i class="fas fa-bars fa-lg" aria-hidden="true"></i>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.role == "customer" %>
                <%= link_to "My Saved Items", want_to_buys_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Past Sales", old_sales_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
